PORT=
NODE_ENV=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

API_KEY=

JWT_SECRET=
JWT_REFRESH_SECRET=

ADMIN_JWT_ACCESS_SECRET=
ADMIN_JWT_ACCESS_EXPIRES_IN=
ADMIN_JWT_REFRESH_SECRET=
ADMIN_JWT_REFRESH_EXPIRES_IN=
ENABLE_ADMIN_SIGNUP=

ADMIN_DASHBOARD_URL=

GOOGLE_MAPS_API_KEY=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

REDIS_HOST=
REDIS_PORT=

JWT_PUBLIC_KEY=
