DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=

API_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

JWT_SECRET=
JWT_EXPIRES_IN=1d

REDIS_HOST=localhost
REDIS_PORT=6379

GOOGLE_MAPS_API_KEY=
